<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
        (closed)="events.push('close!')">
        <nav>
            <ul>
                <li><a class="button" routerLink="/admin/">Dashboard</a></li>
                <li><a class="button" routerLink="/admin/users">Users</a></li>
                <li><button (click)="logout()">Logout</button></li>
            </ul>
        </nav>
    </mat-sidenav>
    <mat-sidenav-content>
        <p><input type="checkbox" [(ngModel)]="opened" />sidenav.opened</p>
        <p><button (click)="sidenav.toggle()">sidenav.toggle()</button></p>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>