<mat-sidenav-container class="example-container" fxLayout="column" fxLayoutFill>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My Application</span>
  </mat-toolbar>

  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item>Item 1</mat-list-item>
      <mat-list-item>Item 2</mat-list-item>
      <mat-list-item>Item 3</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div fxFlex>
      <h1>Welcome to {{ title }}</h1>
      <p>Main content goes here...</p>
    </div>

    <router-outlet />
    
  </mat-sidenav-content>
</mat-sidenav-container>


