<div>
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      
      <div>
        <label>
          Username:
          <input type="text" formControlName="username" required>
          <div
            *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
            <div *ngIf="loginForm.get('username')?.errors?.['required']">Username is required.</div>
          </div>
        </label>
      </div>
  
      <div>
        <label>
          Password:
          <input type="password" formControlName="password" required>
          <div
            *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
            <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
            <div *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.
            </div>
          </div>
        </label>
      </div>
  
      <div>
        <button type="submit" [disabled]="!loginForm.valid">Login</button>
      </div>
    </form>
  </div>